table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin: auto;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-cell {
  padding: 8px;
}

.btn-primary {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.addButton{
  margin: auto;
  text-align: center;
  display: flex;
 }

 .buttonParentDiv{
  margin-top: 50px;
 }
 